.button {
    font-family: Oswald,sans-serif;
    height: 50px;
    line-height: 47px;
    font-size: 1.06667rem;
    color: #fff;
    border: 1px solid hsla(0,0%,40%,.8);
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 50px;
    -webkit-transition: all .3s;
    transition: all .3s;
    z-index: 1;
}

.button:hover {
    background: #ffffff;
    color: #000000;
}