.contactForm {
    background-color: rgb(32, 32, 32);
   min-height: 700px;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
}
.title{
    color: white;
    padding-top: 80px;
    font-size: 30px;
}

.form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 600px;
    padding: 80px 0;
}

.contactForm input {
    width: 290px;
    height: 50px;
    padding: 6px 15px;
    border: none;
    background: rgba(51,51,51,.5);
    margin: 5px 10px 5px 0;
    color: #fff;

}
textarea::placeholder,
input::placeholder {
    color : #fff;
}
.textarea{
    height: 100px;
    width: 600px;
    margin: 5px 10px 5px 0;
    padding: 6px 15px;
    color: #fff;
    background: rgba(51,51,51,.5);
    resize: none;
    border: none;
}
.submit{
    width: 50%;
    border: none;
    background: rgba(51,51,51,.5);
    color: #fff;
    margin: 5px 0;
    height: 50px;
    font-weight: 800;
}

.whiteSvg {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
}

.whiteSvg svg {
    fill: #2a2a2a;
    border-bottom: 1px solid hsla(0, 0%, 40%, .3);
}

@media only screen and (max-width: 520px) {
    .form{
        width: 250px;
    }
}
@media only screen and (max-width: 330px) {
    .form{
        width: 150px;
    }
}