.mainBlock {
    background-color: rgb(32, 32, 32);
    min-height: 100vh;
    align-items: center;
    position: relative;
    display: flex;
}

.pageTransform {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transform: translate(-100%, 0);
    background-color: rgba(30, 30, 30, 0.6);
    animation: pageTransform 1.5s;
}

@keyframes pageTransform {
    from {
        transform: translate(0, 0)
    }
    to {
        transform: translate(-100%, 0)
    }
}

.pageTransformActive {
    transform: translateX(-100%) translateZ(0px);
    transition-duration: 1s;
}

.greeting {
    top: 50px;
    margin-bottom: 50px;
    transition-delay: 0.5s;
    animation: greetingActive 2s;
    transform: translate(40px 400px)
}

@keyframes greetingActive {
    from {
        opacity: 0;
        transform: translate(-20px, -20px)
    }
    to {
        opacity: 100;
        transform: translate(0, 0)
    }
}

.greeting h4 {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #fff;
    margin: 0;
}

.greeting h2 {
    font-size: 4.66667rem;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 20px;
}

.greeting h2:nth-last-child(2) {
    text-indent: 100px;
    margin-bottom: 30px;
}

.photo {
    background-image: url("./../common/images/User1.jpeg");
    background-size: cover;
    width: 300px;
    background-position: center;
    height: 400px;
}
@media screen and (max-width: 1000px) {
    .greeting {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .greeting p:nth-last-child(2) {
        text-indent: 0;
    }
}
@media screen and (max-width: 1000px){
    .greeting {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 0;
    }
    .greeting h2{
        padding-top: 30px;
        font-size: 3rem;
        margin: 0;

    }
    .greeting h2:nth-last-child(2) {
        text-indent: 0;
    }
    .photo{
        display: none;
    }
    .mainBlock {
        min-height: 600px;
    }
}