.mainBlock {
    height: 100vh;
    background-color: gray;
}

.greeting {
    width: 300px;
    background-color: darkgoldenrod;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: steelblue;
}