.app {
    position: relative;
    z-index: 999;
}

.app:before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 1px;
    height: 100%;
    background: hsla(0, 0%, 40%, .3) !important;
    z-index: 1;
}

.app:after {
    content: "";
    position: absolute;
    top: 0;
    right: 10%;
    width: 1px;
    height: 100%;
    background: hsla(0, 0%, 40%, .3);
    z-index: 0;
}

@media screen and (max-width: 1425px) {
    .app:before {
        left: 5%;
    }

    .app:after {
        right: 5%;
    }

    .app:after {
        z-index: 0;
    }
}
