.footer {
    background-color: #2a2a2a;
}

.footerContainer {
    min-height: 150px;
    flex-direction: column;
    align-items: center;
}

.socialMedia {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.footer ul {
    list-style-type: none;
}

.footer li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #333;

}

.footer ul li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #999;
}

li.facebook,li.linkedin,li.github{
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
}


li.facebook{
    background-image: url("./../common/images/facebook.svg");

}

li.linkedin {
    background-image: url("./../common/images/linkedin.svg");
}

li.github{
    background-image: url("./../common/images/github.svg");
}
li.facebook:hover,li.linkedin:hover,li.github:hover {
    filter:  brightness(60%)
}
.footer span {
    color: #ddd;
    font-size: 14px;
}
