.projectsBlock {
    display: flex;
    position: relative;
    align-items: flex-start;
    padding: 60px 0 120px;
    background-color: #2a2a2a;
    z-index: -1;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projectsContainer span{
    color: #ddd;
    margin-bottom: 10px;
}

.projectsBlock h2 {
    font-size: 3.2rem;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 50px;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: 0.2;
}

@media only screen and (max-width: 800px) {
    .projects {
        justify-content: center;
    }
}

@media only screen and (max-width: 460px) {
    .projectsBlock h2 {
        text-align: center;
    }
}


